<!DOCTYPE html>
<html>
<head>
	<title>Rate Your Politician</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="/styles/style.css" rel="stylesheet">

</head>
<body>

<header>

	<span id="pages">
		
		  <a id="nav" href="/">Home</a>
		  <a id="nav" href="#">Content</a>
		  <a id="nav" href="#">Contribute</a>
		  <a id="nav" href="/about">About</a>
		
	</span>

	<span id="login">
	    Username:  <input type="text" name="username">
        Password:  <input type="password" name="password">
        <button id="login">Login</button>
    </span>
</header>

<br><br><br>

	



	<div>
		<h1>Alderman <%=ward.name%></h1>
		<img src="<%=ward.image%>">
		<div>Email: <%=ward.email%></div>
		<div>Phone: <%=ward.phone%></div>
		<div>Address: <%=ward.address%></div>
		<div>Score: <%=ward.compositeScore%></div>
		<div>Number of Reviews: <%=ward.reviews.length%></div>

	</div>





<br><br><br>


	<div>
		<h1>Reviews</h1>
		<%ward.reviews.forEach((review)=>{%>
		<h3><%=review.username%></h3>
		<div>Date: <%=review.date%> Rating: <%=review.rating%></div>
		<br>
		<p><%=review.body%></p>

		<form>
			<button>Like</button>
			<button>Edit</button>

		</form><br><br>

		<%})%>
	</div>

<p>---------------------------------------------------------------</p>


	




<br><br><br>




	<footer> 
		<span>Contact</span><br>

		  <a href="#">Home</a>
		  <a href="#">Content</a>
		  <a href="#">Contribute</a>
		  <a href="#">About</a>

	</footer>



<script type="javascripts/main.js"></script>
</body>
</html>