<!DOCTYPE html>
<html>
<head>
	<title>Rate Your Politician</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="/styles/style.css" rel="stylesheet">

</head>
<body>

<header>

	<span id="pages">
		
		  <a id="nav" href="/">Home</a>
		  <a id="nav" href="#">Content</a>
		  <a id="nav" href="#">Contribute</a>
		  <a id="nav" href="/about">About</a>
		
	</span>

	<span id="login">
	    Username:  <input type="text" name="username">
        Password:  <input type="password" name="password">
        <button id="login">Login</button>
    </span>
</header>

<br><br><br>

	


<form action="/profile/<%= number %>/new" method="POST">

	Username: <input type="text" name="username"><br>
	Date: <input type="text" name="date"><br>
	Body: <input type="text" name="body"><br>
	Rating <input type="text" name="rating"><br>
	<button type="submit" value="Publish Review">New Review</button><br>


</form>







	<div>
		<h1>Alderman <%=ward.name%></h1>
		<img src="<%=ward.image%>">
		<div>Email: <%=ward.email%></div>
		<div>Phone: <%=ward.phone%></div>
		<div>Address: <%=ward.address%></div>
		<div>Number of Reviews: <%=ward.reviews.length%></div>

	</div>





<br><br><br>




<p>---------------------------------------------------------------</p>


	




<br><br><br>




	<footer> 
		<span>Contact</span><br>

		  <a href="#">Home</a>
		  <a href="#">Content</a>
		  <a href="#">Contribute</a>
		  <a href="#">About</a>

	</footer>



<script type="javascripts/main.js"></script>
</body>
</html>