<!DOCTYPE html>
<html>
<head>
	<title>Rate Your Politician</title>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="/styles/style.css" rel="stylesheet">
</head>
<body>

<header>


	<div class="dropdown" style="float:left;">
	  <button class="dropbtn">|||</button>
	  <div class="dropdown-content" style="left:0;">
	    <a href="/">Home</a>
	    <a href="#">Profile</a>
	    <a href="/about">About</a>
	  </div>
	</div>


	<% if(!logged){ %>

		<form action="login" method="POST">
			<span id="login">
			    Username:  <input type="text" name="username">
		        Password:  <input type="password" name="password">
		        <button id="gate">Login</button>
		    </span>
		</form>
	<% } %>


	<% if(logged){ %>
	<form action="logout" method="POST">
		<button type="submit">Logout</button>
	</form>

	<% } %>



</header>

<br><br><br>

	<main>


	<div>
		<h1>Alderman <%=ward.name%></h1>
		<img src="<%=ward.image%>">
		<div>Email: <%=ward.email%></div>
		<div>Phone: <%=ward.phone%></div>
		<div>Address: <%=ward.address%></div>

		<div>Score:<% if(ward.reviews.length > 0) { %>
					<% let ratings = 0 %>
					<%for(let i=0; i < ward.reviews.length; i++) {%>
						<% ratings += ward.reviews[i].rating %>
					<% } %>
					<%= Math.round(100 * (ratings / ward.reviews.length)) /100  %>
					 / 5
					<% }else { %>
						No Reviews Yet
						<% } %>
		
		</div>
		<div>Number of Reviews: <%=ward.reviews.length%></div>

	</div>





<br><br><br>

	<div>
		<h1>Write a Review</h1>
			<form action="/profile/<%= number %>/new" method="POST">
				Username: <input type="text" name="username">session<br>
				Date: <input type="date" name="date"><br>
				<textarea placeholder="Review goes here" name="body"></textarea><br>
				Rating: <input type="number" min="0" max="5" name="rating"><br>
				<button type="submit" value="Publish Review">New Review</button><br>
			</form>
		
	</div>

	<br>
	<br>

	<div>
		<h1>Reviews</h1> <br>
		<%ward.reviews.forEach((review)=>{%>
		<h3><%=review.username%></h3>
		<div>Date: <%=review.date%> Rating: <%=review.rating%> / 5</div>
		<br>
		<p><%=review.body%></p>

		<section>
			<button><a href="/profile/<%= review._id%>/edit/<%= number %>">Edit</a></button>
			<form action="/profile/<%= review._id%>/<%= number %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete">
			</form><br><br>
		</section>

		<%})%>
	</div>


<p>---------------------------------------------------------------</p>


	

	</main>


<br><br><br>




	<footer> 

	    <a href="/">Home</a>
	    <a href="#">Profile</a>
	    <a href="/about">About</a>

	    <img id="flag" src="https://media1.britannica.com/eb-media/58/194558-131-DC0DA257.jpg">

	</footer>



<script type="javascripts/main.js"></script>
</body>
</html>