<!DOCTYPE html>
<html>
<head>
	<title></title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">	
	<link href="styles/style.css" rel="stylesheet">

</head>
<body>



	<h1>Edit Your Review</h1>

	<form action="/profile/<%= review._id %>/<%= number %>?_method=PUT" method="POST">
		Username: <input type="text" name="username" value="<%= review.username%>"><br>
		Date: <input type="date" name="date" value="<%= review.date %>"><br>
		Body: <input type="text" name="body" value="<%= review.body %>"><br>
		Rating: <input type="number" min="0" max="5" name="rating" value="<%= review.rating %>"><br>
		<button type="submit">Update</button>
	</form>






	<p>Reviews</p>
















<script type="javascripts/main.js"></script>
</body>
</html>